html
  head
    link(rel='stylesheet', type='text/css', href='bundle.min.css')
    script(src='vendor.bundle.min.js')
    script(src='app.js')
  body
    div
      .calendarHours
      .calendarEvents
